
body {
    background-color: lightgray;
    color: darkblue;
    
}
footer {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    color: darkblue;
    padding: 10px;
    border: 1px dashed darkblue;
}
#notice {
    width: 80%;
    margin: 0 auto;
}
.headline {
    color: darkblue;
    border-bottom: 2px dotted darkblue;
}
h1 {
    text-shadow: 2px 2px 3px gray;
    background-color: rgba(0, 0, 255, 0.5);
    font-family: sans-serif;
    font-size: 4em;
}
#section {
    font-size: small;
    color: red;
    font-family: Arial, sans-serif;
    background-color: white;
    width: 80%;
    box-shadow: 5px 5px 5px gray;
}
